.POPOSFeature {
	font-size: 2em;
	padding: 0.1em 0.25em;
	margin: 0.125em;
	border-radius: 0.25em;
	background-color: #eee;
}

/* Small screens mobile */
@media only screen and (max-width: 480px) {
	.POPOSFeature {
		font-size: 1em;
		padding: 0.1em 0.25em;
		margin: 0.125em;
		border-radius: 0.25em;
		background-color: #eee;
	}
}